---
import { Artwork as strings } from '../strings';
import Layout from '../components/base/Layout.astro';
import { getCollection, getEntry } from 'astro:content';
import CleanList from '../components/CleanList.astro';
import CldImage from '../components/CldImage.astro';
import type { CollectionEntry } from 'astro:content';

// biome-ignore lint/style/noNonNullAssertion: <explanation>
const order = (await getCollection('artworkslist'))[0]!.data.list;
const artworks = [];
for (const artwork of order) {
	const path = artwork.artwork.split('/');
	// biome-ignore lint/style/noNonNullAssertion: <explanation>
	const slug = path[path.length - 1]!.split(
		'.'
	)[0] as unknown as CollectionEntry<'artwork'>['slug'];

	artworks.push(await getEntry('artwork', slug));
}
---

<Layout title={strings.title} description={strings.description} slug={strings.slug} showTitle>
	<CleanList class="listStyle">
		{
			artworks.map(({ data }) => (
				<article class="itemStyle">
					<CldImage url={data.image} alt={data.title} width={720} height={720} class="imageStyle" />
					<p class="titleStyle">{data.title}</p>
					{data.embed && <Fragment set:html={data.embed} />}
				</article>
			))
		}
	</CleanList>
</Layout>

<style>
	.listStyle {
		gap: 4rem;
	}

	.imageStyle {
		display: block;
		max-width: min(var(--main-width), 100%);

		max-height: var(--main-width);
		object-fit: contain;
		object-position: left;
	}

	.titleStyle {
		margin: 0.75rem 0;
	}
</style>
