---
import { Artwork as strings } from '../strings';
import Layout from '../components/base/Layout.astro';
import { getCollection, getEntry } from 'astro:content';
import CleanList from '../components/CleanList.astro';
import type { CollectionEntry } from 'astro:content';
import ArtworkWithLightbox from '../components/ArtworkWithLightbox.astro';

const order = (await getCollection('artworkslist'))[0]!.data.list;
const artworks = [];
for (const { artwork } of order) {
	const path = artwork.split('/');
	const slug = path[path.length - 1]!.split('.')[0] as unknown as CollectionEntry<'artwork'>['id'];

	const entry = await getEntry('artwork', slug);
	if (entry) artworks.push(entry);
}

export type ArtworkEntry = (typeof artworks)[0];
---

<Layout title={strings.title} description={strings.description} slug={strings.slug} showTitle>
	<CleanList class="list">
		{
			artworks.map(({ data, id: slug }) => (
				<li>
					<article class="itemStyle">
						<ArtworkWithLightbox data={data} slug={slug} />
					</article>
				</li>
			))
		}
	</CleanList>
</Layout>

<style>
	.list {
		gap: 4rem;
	}
</style>
