---
import { getCollection } from 'astro:content';
import Layout from '../components/base/Layout.astro';
import { Contact as strings } from '../strings';
import CleanList from '../components/CleanList.astro';
import Link from '../components/Link.astro';

const { email, socialMedia } = (await getCollection('contact'))[0]!.data;

const preppedEmail = { label: strings.email, link: `mailto:${email}`, text: email };

const preppedSocials = socialMedia.map(s => ({
	label: s.platformName,
	link: s.link,
	text: s.profileName,
}));

const links = [preppedEmail, ...preppedSocials];
---

<Layout
	title={strings.title}
	description={strings.description}
	slug={strings.slug}
	showTitle={false}
>
	<CleanList class="list">
		{
			links.map(l => (
				<li>
					<span>
						{`${l.label}: `}
						<Link href={l.link}>{l.text}</Link>
					</span>
				</li>
			))
		}
	</CleanList>
</Layout>
<style>
	.list {
		margin-top: 5vh;
	}
</style>
