---
import { News as strings } from '../strings';
import Layout from '../components/base/Layout.astro';
import Link from '../components/Link.astro';
import { getCollection } from 'astro:content';
import CleanList from '../components/CleanList.astro';

const { news } = (await getCollection('news'))[0]!.data;
---

<Layout title={strings.title} description={strings.description} slug={strings.slug} showTitle>
	<CleanList>
		{
			news.map(({ title, link }) => (
				<li>
					{!!link ? (
						<Link class="linkStyle" href={link}>
							{title}
						</Link>
					) : (
						<span>{title}</span>
					)}
				</li>
			))
		}
	</CleanList>
</Layout>
