---
import { Translation as strings } from '../strings';
import Layout from '../components/Layout.astro';
import Link from '../components/Link.astro';
import { getCollection } from 'astro:content';
import CleanList from '../components/CleanList.astro';

// biome-ignore lint/style/noNonNullAssertion: <explanation>
const tx = (await getCollection('translation'))[0]!;
const { Content } = await tx.render();
---

<Layout title={strings.pageTitle} description={strings.description} slug={strings.slug}>
	<h1 class="headerStyle">{strings.title}</h1>
	<div class="contentStyle">
		<Content />
	</div>

	<CleanList class="listStyle">
		{
			tx.data.links?.map(({ title, link }) => (
				<Link class="linkStyle" href={link}>
					{title}
				</Link>
			))
		}
	</CleanList>
</Layout>
<style>
	.headerStyle {
		font: var(--normal-font);
		font-size: 1.75rem;
		margin-bottom: 0.25rem;
	}

	.listStyle {
		li {
			margin: 1.25rem 0;
		}

		li:first-child {
			margin-top: 1.5rem;
		}
	}

	.linkStyle {
		color: var(--black);
		font: var(--normal-font);
		font-size: 1.25rem;
		margin: 1rem 0;
	}

	.contentStyle {
		color: var(--black);
		font: var(--normal-font);
		font-size: 1rem;
	}
</style>
