---
import { BASE_URL } from '../../consts';
import { buildPageTitle } from '../../strings';

const CSP_POLICY =
	"base-uri 'self';" +
	"style-src 'self' 'unsafe-inline' https://fonts.googleapis.com/;" +
	"font-src 'self' https://fonts.gstatic.com/s/;";

interface Props {
	title: string;
	description: string;
	slug: string;
}

const { title, description, slug } = Astro.props;
---

<meta charset="utf-8" />
<title>{buildPageTitle(title)}</title>
<meta name="description" content={description} />

<meta http-equiv="Content-Security-Policy" content={CSP_POLICY} />
<link href="https://fonts.googleapis.com/css?family=Italiana&display=swap" rel="stylesheet" />
<style>
	@font-face {
		font-family: 'Linden Hill';
		src: url('/fonts/LindenHill.woff') format('woff');
		font-style: normal;
	}
	@font-face {
		font-family: 'Linden Hill';
		src: url('/fonts/LindenHill-Italic.woff') format('woff');
		font-style: italic;
	}
</style>

<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:url" content={`${BASE_URL}/${slug}`} />
<meta property="og:type" content="website" />

<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:url" content={`${BASE_URL}/${slug}`} />
<meta name="twitter:card" content="summary" />

<script is:inline type="text/javascript">
	!(function (e) {
		'use strict';
		function s(s) {
			if (s) {
				var t = e.documentElement;
				t.classList ? t.classList.add('webp') : (t.className += ' webp'),
					window.sessionStorage.setItem('webpSupport', !0);
			}
		}
		!(function (e) {
			if (window.sessionStorage && window.sessionStorage.getItem('webpSupport')) s(!0);
			else {
				var t = new Image();
				(t.onload = t.onerror =
					function () {
						e(2 === t.height);
					}),
					(t.src =
						'data:image/webp;base64,UklGRi4AAABXRUJQVlA4TCEAAAAvAUAAEB8wAiMwAgSSNtse/cXjxyCCmrYNWPwmHRH9jwMA');
			}
		})(s);
	})(document);
</script>
